<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

</style>

<div class='.messsage-content'>
  <p>Olá, {{name}}</p>
  <p>Uma solicitação de troca de senha foi solicitada para sua conta</p>
  <p>Se foi você que fez a requisiçao use o link abaixo para redefinir usa senha</p>
  <p>Caso não tenha sido você que solicitou a alteração de senha apenas ignore esse e-mail</p>
  <p>
    <a href={{link}}>Resetar minha senha</a>
  </p>
  <p>Obrigado!<br/> <strong>Equipe GoBarber</strong></p>
</div>
